.header
{
    height: 50px;
    display: flex;
    align-items: center;
    background-color:rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px;
}
.header_logo
{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 9px;
}
.header_search
{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
}
.header_searchIcon
{
    padding: 5px;
    height: 22px !important;
    background-color: #8bb9ed;
}
.header_search_input
{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_nav
{
display: flex;
justify-content: space-evenly;
}
.header_option
{
    display: flex;
    flex-direction: column;
 margin-left: 10px;
 margin-right: 10px;
 color: white;
}
.header__optionLineOne
{
    font-size: 10px;
}
.header__optionLineTwo
{
    font-size: 13px;
    font-weight: 800;
}
.header_basketCount
{
    display: flex;
    align-items: center;
    color: white;
    margin: 10px;
}
.header_optionBasket
{
    display: flex;
    align-items: center;
    color: white;
}